.single-country-cokntainer {
}
body {
  background: lightblue;
}
.country-list-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 5%;
  justify-content: center;
}

a.single-country {
  background: #000;
  margin: 10px;
  padding: 10px;
  width: 250px;
  border-radius: 10px;
  color: forestgreen;
  text-decoration: none;
  text-align: center;
}

.country-container {
  text-align: center;
}
span.country-code {
  padding-left: 5px;
}
.channel-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a.single-tv-channel {
  flex-basis: 300px;
  text-align: center;
  background: #000;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
  text-decoration: none;
  overflow: hidden;
  color: forestgreen;
}

a.single-tv-channel > * {
  margin: 0;
  padding: 0;
}

p.channel-name {
  font-size: 20px;
  color: darkseagreen;
  font-weight: bold;
  margin-bottom: 0px;
}
.section-title {
  text-align: center;
}
img.channel-logo {
  height: 150px;
  width: 100%;
  object-fit: contain;
}
video.live-video {
  width: 50%;
  margin-top: 20px;
}

.player-container {
  text-align: center;
}
button.back {
  display: block;
  margin: auto;
  margin-bottom: 50px;
}

button.back a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 30px;
  display: block;
  color: #000;
}
